.root{
    display: flex;
    width: 60%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 60px auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

}
 